
h1{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 60px;
}
h2{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 44px;
}
h3{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 24px;
}
button{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
}
a{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-decoration: underline;}
body {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
}
a:hover,
a:focus {
  color: #404bbf;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
.hero-button {
  cursor: pointer;
}
.team-member {
  background-color: #ffffff;
}
.logo-accent {
  color: #4d5ae5;
}
.hero-button {
  cursor: pointer;
  background-color: #4d5ae5;
  color: #ffffff;
}
.hero {
  background-color: #2e2f42;
  color: #ffffff;
}
.team-section {
  background-color: #f4f4fd;
}
.footer {
  background-color: #2e2f42;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
  color: #ffffff;
}
.footer-info {
  color: #ffffff;
}
.professions {
  text-align: center;
}
.names {
  text-align: center;
}
.section {
  text-align: center;
}
.hero-title {
  text-align: center;
}
.sentance {
  font-style: normal;
  font-weight: 400;
  line-height: 24;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
address {
  font-style: normal;
}
.logo{
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
}