* {
  text-decoration: none;
  list-style-type: none;
}
body {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
}
a:hover,
a:focus {
  color: #404bbf;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
.hero-button {
  cursor: pointer;
}
.team-member {
  background-color: #ffffff;
}
.logo-accent {
  color: #4d5ae5;
}
.hero-button {
  cursor: pointer;
  background-color: #4d5ae5;
  color: #ffffff;
}
.hero {
  background-color: #2e2f42;
  color: #ffffff;
}
.team-section {
  background-color: #f4f4fd;
}
.footer {
  background-color: #2e2f42;
}
.footer-logo {
  color: #ffffff;
}
.footer-info {
  color: #ffffff;
}
.professions {
  text-align: center;
}
.names {
  text-align: center;
}
.section {
  text-align: center;
}
.hero-title {
  text-align: center;
}
.sentance {
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
